@using AliFitnessAE.Web.Startup
@using AliFitnessAE.Dto

@model ProfileVModel
@{
    ViewBag.Title = L("Profile");
    ViewBag.CurrentPageName = PageNames.Profile;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Admin/Views/Profile/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Admin/Views/_Bundles/Index.js" asp-append-version="true"></script>
    </environment>
}

<!-- Content Wrapper. Contains page content -->
<div class="ml-2">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            @if (Model.PersonalDetail.ProfilePhoto.DocumentList.FirstOrDefault() != null)
                            {
                                @if (Model.PersonalDetail.ProfilePhoto.DocumentList.FirstOrDefault().BusinessDocumentAttachmentDto.FirstOrDefault() != null)
                                {
                                    <div class="text-center">
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="~/images/@Model.PersonalDetail.ProfilePhoto.DocumentList.FirstOrDefault().BusinessDocumentAttachmentDto?.FirstOrDefault().FilePath"
                                             alt="User profile picture">
                                    </div>
                                }
                                else
                                {
                                    <div class="text-center">
                                        <img class="profile-user-img img-fluid img-circle"
                                             src="~/libs/admin-lte/dist/img/user4-128x128.jpg"
                                             alt="User profile picture">
                                    </div>
                                }

                                <div class="offset-sm-2 col-sm-8 offset-md-2 col-md-8 mt-3">
                                    <div class="text-center upload-button">@L("UploadPhoto")</div>
                                    <input id="profilePhotoControl" class="file-upload" type="file" accept="image/*" data-businessEntityId="@Model.PersonalDetail.ProfilePhoto.BusinessEntityId"
                                           data-businessDocumentId="@Model.PersonalDetail.ProfilePhoto.DocumentList.FirstOrDefault().Id"
                                           data-documentTypeId="@Model.PersonalDetail.ProfilePhoto.DocumentList.FirstOrDefault().DocumentTypeId" />
                                </div>
                            }

                            @*<h3 class="profile-username text-center">Nina Mcintire</h3>

        <p class="text-muted text-center">Software Engineer</p>

        <ul class="list-group list-group-unbordered mb-3">
            <li class="list-group-item">
                <b>Followers</b> <a class="float-right">1,322</a>
            </li>
            <li class="list-group-item">
                <b>Following</b> <a class="float-right">543</a>
            </li>
            <li class="list-group-item">
                <b>Friends</b> <a class="float-right">13,287</a>
            </li>
        </ul>*@ 
                            @*<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>*@
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#personalDetail" data-toggle="tab">@L("PersonalDetail")</a></li>
                                @*<li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Activity</a></li>
                                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>*@
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="personalDetail">
                                    @await Html.PartialAsync("_EditPersonalDetail", Model.PersonalDetail)
                                </div> 
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            @if (IsGranted(PermissionNames.Pages_UserTracking))
            {
                <div class="row mb-5">
                    @await Html.PartialAsync("_UserTracking.AdvancedSearch", @Model.UserTrackingFilter)
                </div>
                @await Html.PartialAsync("_UserTracking", Model)
            }
            @if (IsGranted(PermissionNames.Pages_PhotoTracking))
            {
                @await Html.PartialAsync("_PhotoTracking", Model)
            }
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper --> 