@model AliFitnessAE.Web.Models.Admin.Account.ForgotPasswordRequest
@{
    ViewBag.Title = L("ForgotPassword");
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Admin/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Admin/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>
}
<h4 class="text-center">@L("ForgotPassword")</h4>
<form id="ForgotPasswordForm" asp-area="Admin" asp-controller="Account" asp-action="ForgotPassword" method="post" autocomplete="off">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="alert alert-default-warning" role="alert">
        @L("ForgotPassword_TypeValidEmailForRecevingCode")
    </div>
    <div class="input-group mb-3">
        <input type="text" name="email" value="@Model.Email" class="form-control" placeholder="@L("EmailAddress")" required>
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <a asp-action="Login" class="btn btn-default btn-flat"><i class="fa fa-arrow-circle-left"></i> @L("Back")</a>
        </div>
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">@L("Send")</button>
        </div>
    </div>
</form> 