@model AliFitnessAE.Web.Models.Admin.Account.RegisterResultViewModel
@{
    ViewBag.Title = L("SuccessfullyRegistered");
}
<div class="card">
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            <h4>@L("SuccessfullyRegistered")</h4>
        </div>
        <ul>
            @*<li><span class="text-muted">@L("NameSurname"):</span> @Model.NameAndSurname</li>
            <li><span class="text-muted">@L("TenancyName"):</span> @Model.TenancyName</li>*@
            <li><span class="text-muted">@L("UserName"):</span> @Model.UserName</li>
            <li><span class="text-muted">@L("EmailAddress"):</span> @Model.EmailAddress</li>
        </ul>
        <div>
            @if (!Model.IsActive)
            {
                <div class="alert alert-warning" role="alert">
                    @L("WaitingForActivationMessage")
                </div>
            }

            @if (Model.IsEmailConfirmationRequiredForLogin && !Model.IsEmailConfirmed)
            {
                <div class="alert alert-warning" role="alert">
                    @L("WaitingForEmailActivation")
                </div>
            }
        </div>
        <div class="row">
            <div class="col-8">
                <a asp-action="Login" class="btn btn-default btn-flat"><i class="fa fa-arrow-circle-left"></i> @L("Back")</a>
            </div> 
        </div>
    </div>
</div>
