@using AliFitnessAE.Web.Resources
@model PhotoTrackingViewModel

@foreach (var item in Model.DocumentList.Items)
{

    <div id="divPhotoTrackingList" class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">@item.CreationTime.ToString("dddd, dd MMMM yyyy") - @item.User.FullName</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool waves-effect waves-light" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                @if (!(item.Status.StatusConst == "Approved") || ViewBag.IsAdminLoggedIn)
                {
                    <button type="button" data-id="@item.Id" class="btn btn-tool waves-effect waves-light hrefPhotoTrackingEdit">
                        <i class="fas fa-edit"></i>
                    </button>
                }
                @if (ViewBag.IsAdminLoggedIn)
                {
                    var cssClass = item.Status.StatusConst == "Approved" ? "fas fa-thumbs-down" : "fas fa-thumbs-up";
                    var approveStatusToolTip = item.Status.StatusConst == "Approved" ? L("UnApproveStatusToolTip") : L("ApproveStatusToolTip");
                    <text> <button type="button" data-id="@item.Id" data-userTracking-status="@item.Status.StatusConst" class="btn btn-tool waves-effect waves-light updatePhotoTrackingStatus" data-toggle="tooltip" data-placement="right" title="@approveStatusToolTip">
                            <i class="@cssClass"></i>
                        </button></text>
                }
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0" style="display: block;">
            @foreach (var document in item.DocumentList)
            {
                @if (document.BusinessDocumentAttachmentDto.Count > 0)
                {<label> @L(document.DocumentType.DocumentTypeConst) </label>}
                <div class="row">
                    @foreach (var attachment in document.BusinessDocumentAttachmentDto)
                    {
                    <div class="col-lg-3 col-md-4 col-xs-6"> 
                        @{ var title = string.Format("{0}, {1}",  L(document.DocumentType.DocumentTypeConst), item.CreationTime.ToString("dd MMM yyyy")); }
                        <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="@title" data-caption="" data-image="@Url.Action("Get", "Document", new { picEnyc = attachment.picEnyc })" data-target="#image-gallery">
                            <img class="img-fluid mb-2" src="@Url.Action("Get", "Document", new { picEnyc = attachment.picEnyc })" alt="@L(document.DocumentType.DocumentTypeConst)">
                        </a>
                    </div>
                    }
                </div>
            }
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
}


