@using AliFitnessAE.Web.Resources
@model PhotoTrackingViewModel
     <!-- TABLE: LATEST ORDERS -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="card-title">
                            @L(Model.DocumentType.ToString())
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @foreach (var item in Model.DocumentList.Items.OrderBy(x => x.CreationTime))
                            {

                                @foreach (var document in item.DocumentList)
                                {
                                    @if (document.BusinessDocumentAttachmentDto.Count > 0)
                                    {
                                        @foreach (var attachment in document.BusinessDocumentAttachmentDto)
                                        {
                                            <div class="col-lg-3 col-md-4 col-xs-6">
                                                <label class="title">@item.CreationTime.ToString("dd MMM yyyy")</label>
                                                @{ var title = string.Format("{0}, {1}", L(document.DocumentType.DocumentTypeConst), item.CreationTime.ToString("dd MMM yyyy")); }
                                                <a class="thumbnail" href="#" data-image-id="" data-toggle="modal" data-title="@title" data-caption="" data-image="@Url.Action("Get", "Document", new { picEnyc = attachment.picEnyc })" data-target="#image-gallery">
                                                    <img src="@Url.Action("Get", "Document", new { picEnyc = attachment.picEnyc })" class="img-fluid mb-2" alt="@L(document.DocumentType.DocumentTypeConst)">
                                                </a>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section> 